body {
	padding: 10px 0px;
	text-align: justify;
	background: url('/../img/bg.jpg') no-repeat;
	background-size: 100%;
	background-attachment: fixed;
}

div.container {
	border-radius: 5px;
	background: rgba(255, 255, 255, 0.70);
}

img.logo {
	margin: 20px 0px 10px 0px;
	border: none;
}

div#footer {
	margin-top: 10px;
	padding: 10px;
}
