{% extends "layout.twig" %}

{% block buttons %}
	{% include 'buttons.twig' %}
{% endblock %}

{% block content %}
	{% if message %}
		<p class="text-danger">{{ message }}</p>
	{% endif %}
	<h3>Пожалуйста, заполните все поля</h3>
	<p>
		<form role="form" enctype="multipart/form-data" action="{{ path('add_plugin_post') }}" method="post">
			<div class="form-group">
				<label for="InputName">Название</label>
				<input type="name" name="name" class="form-control" id="InputName" placeholder="Укажите название">
			</div>
			<div class="form-group">
				<label for="InputVersion">Версия</label>
				<input type="version" name="version" class="form-control" id="InputVersion" placeholder="Укажите текущую версию">
			</div>
			<div class="form-group">
				<label for="InputAuthor">Автор</label>
				<input type="author" name="author" class="form-control" id="InputAuthor" placeholder="Укажите имя автора">
			</div>
			<div class="form-group">
				<label for="InputPrice">Цена</label>
				<input type="price" name="price" class="form-control" id="InputPrice" placeholder="Укажите стоимость">
			</div>
			<div class="form-group">
				<label for="InputDescription">Описание</label>
				<textarea type="description" name="description" class="form-control" rows="5" id="InputDescription" placeholder="Укажите краткое описание"></textarea>
			</div>
			<div class="form-group">
				<label for="InputPreview">Изображение (превью)</label>
				<input type="file" name="preview" id="InputPreview">
				<p class="help-block">Разрешены форматы .png, .jpg, .jpeg, максимальный размер файла не должен превышать 300 Кбайт.</p>
			</div>
			<div class="form-group">
				<label for="InputSource">Исходный код / архив (опционально)</label>
				<input type="file" name="source" id="InputSource">
				<p class="help-block">Разрешён формат .zip, максимальный размер файла не должен превышать 2 Мбайта.</p>
			</div>
			<button type="submit" name="submit" class="btn btn-default">Добавить</button>
		</form>
	</p>
{% endblock %}
