{% extends "layout.twig" %}

{% block buttons %}
	{% include 'buttons.twig' %}
{% endblock %}

{% block content %}
	<h3>Авторизация успешна</h3>
	<img src="/../img/ac_img.jpg" class="img-thumbnail" style="margin-bottom: 20px;">
{% endblock %}
