{% block buttons %}
	<a class="btn btn-default btn-sm" onclick="javascript:history.back();" href="" role="button" style="margin-right: 10px; position: relative; top: 25px;">Назад</a>
	{% if is_admin %}
		<a class="btn btn-default btn-sm" href="{{ path('add_plugin') }}" role="button" style="margin-right: 10px; position: relative; top: 25px;">Добавить плагин</a>
		<a class="btn btn-default btn-sm" href="{{ path('logout') }}" role="button" style="position: relative; top: 25px;">Выход</a>
	{% else %}
		<a class="btn btn-default btn-sm" href="login" role="button" style="position: relative; top: 25px;">Вход</a>
	{% endif %}
{% endblock %}
