{% extends "layout.twig" %}

{% block buttons %}
	{% include 'buttons.twig' %}
{% endblock %}

{% block content %}
	<h3>Просмотр товаров</h3>
	{% if message %}
		<p class="text-warning">{{ message }}</p>
	{% endif %}
	<form name="search" method="post" action="/search" style="margin-bottom: 20px;">
		<input type="search" name="query" placeholder="Поиск">
		<button type="submit">Найти</button>
	</form>
	{% for plugin in plugins %}
		<div style="margin-right:20px;text-align:center;float:left;">
			<h4>{{ plugin.name }}</h4>
			<a href="{{ path('plugins', {id: plugin.id}) }}"><img src="{{ plugin.preview }}" class="img-thumbnail" style="width:200px;height:200px;"></a>
			<h5>Цена: {{ plugin.price }} руб.</h5>
			<h5 style="margin-top:0px;">Автор: {{ plugin.author }}</h5>
		</div>
	{% endfor %}
	<div style="clear: both"></div>
	<div align="center">
		<ul class="pagination">
			{{ paginator|raw }}
		</ul>
	</div>
{% endblock %}
