<!DOCTYPE html>
<html>
	<head>
		<title>AMXX.Shop | {{ subtitle }}</title>

		<meta charset="utf-8" />
		<link rel="shortcut icon" type="image/x-icon" href="/../img/favicon.png" />

		<link href="{{ asset('css/main.css') }}" rel="stylesheet" type="text/css" />

		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

		<!-- Google Analytics -->
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-93902532-1', 'auto');
			ga('send', 'pageview');
		</script>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-md-8">
					<a href="/" title="На главную">
						<img class="logo" src="/../img/logo.png" />
					</a>
				</div>
				<div class="col-xs-6 col-md-4">
					{% block buttons %}{% endblock %}
				</div>
				<din style="clear: both;"></div>
				{% block content %}{% endblock %}
			</div>
		</div>
		<div class="container" id="footer">
			&copy; AMXX.Shop, <span id="current_year"></span><br>
			<a href="https://vk.com/amxx.shop" title="Посетить группу ВКонтакте" target="_blank">Официальная группа ВКонтакте</a>
			<script>
				document.getElementById("current_year").innerHTML = new Date().getFullYear();
			</script>
		</div>
	</body>
</html>
