{% extends "layout.twig" %}

{% block buttons %}{% endblock %}

{% block content %}
	{% if message %}
		<p class="text-danger">{{ message }}</p>
	{% endif %}
	<h3>Укажите логин и пароль для входа</h3>
	<p>
		<form role="form" method="post">
			<div class="form-group">
				<label for="InputLogin">Логин</label>
				<input type="login" name="login" class="form-control" id="InputLogin" placeholder="Укажите логин">
			</div>
			<div class="form-group">
				<label for="InputPassword">Пароль</label>
				<input type="password" name="password" class="form-control" id="InputPassword" placeholder="Укажите пароль">
			</div>
			<button type="submit" name="submit" class="btn btn-default">Войти</button>
		</form>
	</p>
{% endblock %}
