{% extends "layout.twig" %}

{% block buttons %}
	{% include 'buttons.twig' %}
{% endblock %}

{% block content %}
	{% if plugin %}
		<h3>{{ subtitle }}</h3>
		<table class="table">
			<tr><td>Название: {{ plugin.name }}</td></tr>
			<tr><td>Версия: {{ plugin.version }}</td></tr>
			<tr><td>Автор: {{ plugin.author }}</td></tr>
			<tr><td>Цена: {{ plugin.price }} руб.</td></tr>
			<tr><td><h4>Описание:</h4>{{ plugin.description|raw }}</td></tr>
			<tr><td><img src="{{ plugin.preview }}" style="width:200px;height:200px;"></td></tr>
			{% if plugin.source %}
				<tr><td><a href="{{ plugin.source }}">Скачать</a></td></tr>
			{% endif %}
			<tr>
				<td>
					<!-- Put this div tag to the place, where the Comments block will be -->
					<script type="text/javascript" src="//vk.com/js/api/openapi.js?136"></script>
					<script type="text/javascript">
						VK.init({apiId: 5784398, onlyWidgets: true});
					</script>
					<div id="vk_comments"></div>
					<script type="text/javascript">
						VK.Widgets.Comments("vk_comments", {limit: 10, width: "665", attach: "photo,link", page_id: "plugin_{{ plugin.id }}"});
					</script>
				</td>
			</tr>
		</table>
	{% else %}
		<h3>Такого плагина не существует</h3>
	{% endif %}
{% endblock %}
