{% extends "layout.twig" %}

{% block buttons %}
	{% include 'buttons.twig' %}
{% endblock %}

{% block content %}
	<h3>{{ subtitle }}</h3>
	<form name="search" method="post" action="{{ path('search_post') }}" style="margin-bottom: 20px;">
		<input type="search" name="query" placeholder="Поиск">
		<button type="submit">Найти</button>
	</form>
	{% if message %}
		{{ message|raw }}
	{% endif %}
	{% for result in results %}
		<div style="margin-right:20px;text-align:center;float:left;">
			<h4>{{ result.name }}</h4>
			<a href="{{ path('plugins', {id: result.id}) }}"><img src="{{ result.preview }}" class="img-thumbnail" style="width:200px;height:200px;"></a>
			<h5>Цена: {{ result.price }} руб.</h5>
			<h5 style="margin-top:0px;">Автор: {{ result.author }}</h5>
		</div>
	{% endfor %}
{% endblock %}
